.am-grid-item-content{
    padding: 0;
}
.game-item{
    background: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.icon-tou{
    padding: 1px 2px;
    height: 26px;
    width: 26px;
    border: 1px solid gray;
    border-radius: 13px;
    font-size: 13px;
    text-align: center;
}