{
    "presets": ["react", "es2015", "stage-0"],
    "plugins": [
      "transform-decorators-legacy",
      "babel-plugin-add-module-exports",
      "babel-plugin-syntax-dynamic-import",
      "babel-plugin-syntax-trailing-function-commas",
      "babel-plugin-lodash",
      "babel-plugin-syntax-flow",
      "babel-plugin-syntax-jsx",
      "transform-runtime",
      ["import", { "libraryName": "antd-mobile", "style": "css" }]
    ],
    "ignore": [
     
    ]
  }
  