.am-tab-bar-item {
  background: #f9f9f9;
}

.am-list-item {
  padding-left: 10px;
  height: 50px;
  img {
    width: 34px;
    height: 34px;
  }
  .am-list-thumb {
    margin-right: 10px;
  }
}

#apply,
#add {
  .am-button-primary {
    background-color: #e63333;
    color: white;
  }
  .am-list-brief {
    font-size: 12px;
    margin: 0;
  }

  .am-list-extra {
    display: table-cell;
  }

  .am-button {
    vertical-align:middle;
  }

}

#add {
  .user-not-found {
    text-align: center;
    font-size: 14px;
    color: #a2a2a2;
    margin-top: 60px;
  }

  .inviteCode {
    text-align: center;
    font-size: 12px;
    margin: 16px;
  }
  .am-search-synthetic-ph {
    line-height: 20px;
  }

  .am-search-clear {
    top: 5px;
  }
}

.am-swipe-btn-text {
  font-size: 20px;
}

#contact {
  .am-search-clear {
    top: 6px;
    right: 6px;
  }

  .am-search-synthetic-ph-container{
    position: relative;
    top: -4px;
  }

  .am-search.am-search-start .am-search-input input[type="search"] {
    padding-left: 50px;
  }
}
